/* Style CSS header */

.clubheader {
    display: flex;
    justify-content:center;
    align-items: center;
    color: #FFFFFF;
    background-color: #232628;
 
}

.clubheader p,h1,ul {
    margin-right: 10px;
  }

.clubheader ul {
    padding: 20px;
}


.clubheader i {
    margin-right: 20px;
}

.clubheader img {
    width: 3%;
   
}

.clubheader span{
    color: #FAB637
}

.clubheader ul {
    list-style-type: none;
}

/* Style CSS navbar */

.custom-navbar {
    background-color: #ECEFF3;
    
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #232628;
}

/* Style CSS pour la surbrillance rouge au survol des liens dans la navbar */
.navbar-nav .nav-link:hover {
    background-color: #CC6119;
    color: #FFFFFF; /* Changer la couleur du texte pour qu'il soit lisible */
}

#navbarNav {
    margin-right: 80px;
}

/* Style CSS photo en dessous de la navbar */

.texte{
    background-color: #232628; 
    color: white;
    text-align: center;
    
}

.texte span{
    color: #FAB637;
}



/* Style CSS pour les 2 photos avec le float */

.clubauto {
    color:#FAB637 ;
}

/* Style CSS footer */

.clubfooter{
    background-color: #232628;

}

.clubfooter span {
    color: #6C98E1;
}

.social-icons {
    font-size:40px;
}

.horaires {
    margin:0;
}

/* Style CSS image vente location */

/* Style CSS image vente location */
.achatloc {
    position: relative;
  }
  
  .text-overlay {
    position: absolute;
    color: white;
    padding: 10px;
  }

  .text-overlay span {
    color: #232628;
  }
  
  .text-overlay h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .text-overlay p {
    font-size: 14px;
  }
  
  .top-overlay,
  .top-right-overlay {
    background-color: rgba(255, 165, 0, 0.8); /* Orange */
    border-radius: 5px;
    width: 300px; /* Ajuster la largeur du fond orange pour éviter qu'il ne dépasse trop */
   
  }
  
  .top-right-overlay {
    background-color: rgba(255, 107, 107, 0.8); /* Rouge clair ou grenadine */
  }
  
  .top-overlay-wrapper {
    position: absolute;
    top: 0%;
    left: 20%;
    padding: 15px;
  }
  
  .top-right-overlay-wrapper {
    position: absolute;
    top: 0%;
    left: 50%;
    padding: 15px;
  }
  


/* Style CSS formulaire */
  .image-container {
    position: relative;
}

.contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 100%; /* Le formulaire prendra toute la largeur de la rangée */
    max-width: 800px; /* Limiter la largeur maximale du formulaire */
}

.contact-form .row {
    margin-left: 0;
    margin-right: 0;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    margin-top: 0; /* Supprime la marge supérieure du bloc */
  }
  
  .image-containerv3 {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 10%; /* Ajustez cette valeur pour faire descendre le texte overlay */
    left: 30%; /* Ajustez cette valeur pour décaler le texte overlay vers la gauche */
    color: white;
    background-color: rgba(255, 165, 0, 0.7);
    padding: 20px;
    width: 130%; /* Pour que le texte overlay occupe 90% de la largeur de l'image */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 30%; 
  }
  
  .hfour {
    color: #232628;
  }

  #navproduit a {
    color: #ECEFF3;
  }

